*{
    inset: 0;
}
body{
    background-color: orange;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    

}
h1{
    text-align: center;
}
input,button,select,.res1{
    width: 50%;
    padding: 10px;
    outline: none;
    margin: 20px;
    /* text-align: center; */
    /* margin: auto; */
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;


}

.res1{
    /* color: royalblue; */
    font-weight: 900;
    font-size: 20px;
}